name: test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run:
          python -m pip install --upgrade pip pandas numpy pytest scipy eccodes pyyaml
      - run:
          python -m pip install --index-url https://test.pypi.org/simple/ --no-deps bitinformation
      - run:
          pytest tests/test_config.py
          pytest tests/test_simple_packing.py
          pytest tests/test_bitinformation.py

